<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} • {{ settings.app_name }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='/image/favicon.png') }}" type="image/png" />
    <link rel="stylesheet" href="{{ url_for('static', path='/pico/pico.min.css') }}">
    <script src="{{ url_for('static', path='/jquery/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js-cookie/js.cookie.min.js') }}"></script>
    <script src="{{ url_for('static', path='/config.js') }}"></script>
    <script src="{{ url_for('static', path='/utils/net.js') }}"></script>
    <!-- Pico.css custom build inlined for Google AMP -->
    <link rel="stylesheet" href="{{ url_for('static', path='/amp/pico.google-amp.min.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body>
    {% block body %}
    {% endblock %}
</body>

</html>