{% extends 'base.html' %}

{% block head %}
<!-- AMP runtime -->
<script async src="{{ url_for('static', path='/amp/v0.js') }}"></script>
<!-- AMP components -->
<script async custom-element="amp-social-share"
    src="{{ url_for('static', path='/amp/amp-social-share-0.1.js') }}"></script>
<script async custom-element="amp-sidebar" src="{{ url_for('static', path='/amp/amp-sidebar-0.1.js') }}"></script>
<script async custom-element="amp-form" src="{{ url_for('static', path='/amp/amp-form-0.1.js') }}"></script>
<!-- Google font: Calistoga -->
<link href="{{ url_for('static', path='/amp/css2') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', path='/pico/navigation.css') }}">
{% endblock %}

{% block body %}
<amp-sidebar id="sidebar-left" class="sample-sidebar" layout="nodisplay" side="left">
    <aside>
        <nav>
            <button on="tap:sidebar-left.close" aria-label="Open menu">
                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" height="16px" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18">
                    </line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
            <ul id="nav-content">
                <li>
                    <h3><a href="/view/users/dashboard/">仪表板</a></h3>
                </li>
            </ul>
        </nav>
    </aside>
</amp-sidebar>
<nav>
    <ul>
        <li>
            {% block operate_left %}
            <button on="tap:sidebar-left.toggle" aria-label="Close menu">
                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" height="16px" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </button>
            {% endblock %}
        </li>
    </ul>
    <ul>
        <li>
            <h1>{% block title %}{% endblock %}</h1>
        </li>
    </ul>
    <ul>
        <li>
            {% block operate_right_top %}
            <a href="/view/users/me/" aria-label="我的信息">
                <img src="/api/bases/me/avata/free/" alt="头像图片" height="30px" width="30px" />
            </a>
            {% endblock %}
        </li>
    </ul>
</nav>
<script src="{{ url_for('static', path='/pico/navigation.js') }}"></script>
<main>
    {% block main %}{% endblock %}
</main>
<suspended>
    {% block operate_right_bottom %}{% endblock %}
</suspended>
{% block javascript %}{% endblock %}
{% endblock %}