fastapi
jinja2
ldap3
loguru
openpyxl
passlib[bcrypt]
pydantic[email]
pydantic-settings
pydantic-extra-types
pymongo
python-dotenv
python-jose[cryptography]
python-multipart
requests
Pillow
uvicorn[standard]