[Unit]
Description=WeFastAPI

[Service]
Type=simple
WorkingDirectory=/home/.../.../we-fast-api
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target