{% extends 'core/basal.html' %}

{% block head %}
<link rel="stylesheet" href="/static/bases/css/navigation.css">
<!-- Custom Headers -->
{% block custom_head %}{% endblock %}
{% endblock %}

{% block body %}
<amp-sidebar id="sidebar-left" class="sample-sidebar" layout="nodisplay" side="left">
    <aside>
        <nav>
            <button on="tap:sidebar-left.close" aria-label="Open menu">
                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" height="16px" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18">
                    </line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
            <ul id="nav-content">
                <li>
                    <h3><a href="/view/bases/home/">{{ settings.app_name }}</a></h3>
                </li>
            </ul>
        </nav>
    </aside>
</amp-sidebar>
<nav>
    <ul>
        <li>
            {% block operate_left %}
            <button on="tap:sidebar-left.toggle" aria-label="Close menu">
                <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" height="16px" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </button>
            {% endblock %}
        </li>
    </ul>
    <ul>
        <li>
            <h1>{% block title %}{% endblock %}</h1>
        </li>
    </ul>
    <ul>
        <li>
            {% block operate_right_top %}
            <a id="right-hand-nav-off" role="button" href="/view/bases/token/">登录</a>
            <details id="right-hand-nav-on" role="list" dir="rtl" style="display:none;">
                <summary aria-haspopup="listbox" role="link" id="nav-username"></summary>
                <ul role="listbox">
                    <li>
                        <a id="nav-avata" href="/view/bases/me/" aria-label="Avata" style="text-align:center;"></a>
                    </li>
                    <li><a href="/view/bases/me/" style="text-align:center;">我的信息</a></li>
                    <li><a href="/view/bases/password/update/" style="text-align:center;">更新密码</a></li>
                    <li><a id="signout" href="javascript:void(0);" style="text-align:center;">退出登录</a></li>
                </ul>
            </details>
            {% endblock %}
        </li>
    </ul>
</nav>
<script src="/static/bases/js/navigation.js"></script>
<main>
    {% block main %}{% endblock %}
</main>
{% block operate_bottom %}{% endblock %}
{% block javascript %}{% endblock %}
{% endblock %}