{% extends 'navigation.html' %}
{% block title %}更新密码{% endblock %}

{% block operate_left %}
<a href="javascript:history.back(-1)">返回</a>
{% endblock %}
{% block operate_right_top %}
<a id="submit" role="button" href="javascript:void(0);">更新</a>
{% endblock %}

{% block main %}
<form>
    <label for="currentPassword">
        当前密码
        <input type="password" id="currentPassword" placeholder="当前密码" required>
    </label>
    <label for="newPassword">
        新密码
        <input type="password" id="newPassword" placeholder="新密码" required>
        <small>长度6-32位, 须包含字母|数字|特殊符号中的2种</small>
    </label>
    <label for="repeatNewPassword">
        重复新密码
        <input type="password" id="repeatNewPassword" placeholder="重复新密码" required>
        <small>必须与新密码一致</small>
    </label>
</form>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
    });
</script>
{% endblock %}