{% extends 'navigation.html' %}
{% block title %}更新 {{ module_name }} 设置{% endblock %}

{% block operate_left %}
<a href="/view/bases/setup/">返回</a>
{% endblock %}
{% block operate_right_top %}
<a id="submit" role="button" href="javascript:void(0);">更新</a>
{% endblock %}

{% block main %}
<form id="form-content">
</form>
{% endblock %}

{% block javascript %}
<script>
    var synced_wids = [];
    var setups = {};
    function putSetup() {
        utilAjax(
            type = 'PUT',
            url = '/api/bases/setup/particle-' + '{{ module_name }}' + '/',
            data = {
                'synced_wids': synced_wids,
                'setups': setups,
            },
            data_format = 'json',
            check = {},
            success = function (data, textStatus) {
                if (data.wid != '') {
                    synced_wids.push(data.wid);
                } else {
                    console.log('已同步 ' + synced_wids.length);
                }
                if (synced_wids.length < parseInt('{{ settings.app_workers_num }}')) {
                    setTimeout(function () { putSetup() }, 5000);
                } else {
                    swal('请求成功', { icon: 'success', buttons: false, timer: 1500, });
                }
            },
            success_reminder = false,
            not_close = true,
        );
    }
    var setupInputArray = [];
    $(document).ready(function () {
        utilAjax(
            type = 'GET',
            url = '/api/bases/setup/particle-' + '{{ module_name }}' + '/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                let reg = new RegExp('_', 'g');
                data['all_item'].forEach(function (value, index) {
                    let keyTitle = value.key.replace(reg, ' ');
                    let formHtml = '<label for="' + value.key + '">' + keyTitle.slice(0, 1).toUpperCase() + keyTitle.slice(1) + '<input ';
                    if (value.type == 'str') {
                        formHtml += 'type="text"';
                    } else if (value.type == 'int') {
                        formHtml += 'type="number"';
                    }
                    formHtml += ' id="' + value.key + '" value="' + value.value + '" required>';
                    if (value.describe) {
                        formHtml += '<small>' + value.describe + '</small>';
                    }
                    formHtml += '</label>';
                    $('#form-content').append(formHtml);
                    setupInputArray.push(value);
                });
            },
            success_reminder = false,
            not_close = false,
        );
        $('#submit').click(function () {
            setupInputArray.forEach(function (value, index) {
                if (value.type == 'str') {
                    setups[value.key] = $('#' + value.key).val();
                } else if (value.type == 'int') {
                    setups[value.key] = parseInt($('#' + value.key).val());
                }
            });
            putSetup();
        });
    });
</script>
{% endblock %}