{% extends 'navigation.html' %}
{% block title %}参数设置{% endblock %}

{% block operate_right_top %}
{% endblock %}

{% block main %}
<div id="details-content">
</div>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        utilAjax(
            type = 'GET',
            url = '/api/bases/setup/module/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                data['all_item'].forEach(function (value, index) {
                    let titleName = value.name.slice(9);
                    $('#details-content').append('<details onclick="event.preventDefault()" id="' + value.name + '"><summary>模块 ' + titleName + ' 相关变量</sup></summary></details>');
                });
                $('details').click(function () {
                    window.location.href = '/view/bases/setup/update/' + $(this).attr('id') + '/';
                });
            },
            success_reminder = false,
            not_close = false,
        );
    });
</script>
{% endblock %}