{% extends 'navigation.html' %}
{% block title %}更新 {{ module_name }} 设置{% endblock %}

{% block operate_left %}
<a href="/view/bases/setup/">返回</a>
{% endblock %}
{% block operate_right_top %}
<a id="submit" role="button" href="javascript:void(0);">更新</a>
{% endblock %}

{% block main %}
<form id="form-content">
</form>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        utilAjax(
            type = 'GET',
            url = '/api/bases/setup/particle-' + '{{ module_name }}' + '/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                let reg = new RegExp('_', 'g');
                data['all_item'].forEach(function (value, index) {
                    let keyTitle = value.key.replace(reg, ' ');
                    let formHtml = '<label for="' + value.key + '">' + keyTitle.slice(0, 1).toUpperCase() + keyTitle.slice(1) + '<input ';
                    if (value.type == 'str') {
                        formHtml += 'type="text"';
                    } else if (value.type == 'int') {
                        formHtml += 'type="number"';
                    }
                    formHtml += ' id="' + value.key + '" value="' + value.value + '" required>';
                    if (value.describe) {
                        formHtml += '<small>' + value.describe + '</small>';
                    }
                    formHtml += '</label>';
                    $('#form-content').append(formHtml);
                });
            },
            success_reminder = false,
            not_close = false,
        );
        $('#submit').click(function () {
            utilAjax(
                type = 'PUT',
                url = '/api/bases/setup/particle-' + '{{ module_name }}' + '/',
                data = {
                    'username': $('#username').val(),
                    'full_name': $('#full_name').val(),
                    'email': $('#email').val(),
                },
                data_format = 'json',
                check = {
                    'username': [/^[a-zA-Z]{1}([a-zA-Z0-9]|[._]){2,19}$/, '账户名需要3-20位以字母开头(可带数字,下划线和小数点)'],
                    'full_name': [/^\S{2,}$/, '账户昵称的长度需要大于2位'],
                    'email': [/^([a-zA-Z\d])(\w|\-)+@[a-zA-Z\d]+\.[a-zA-Z]{2,4}$/, '电子邮箱地址的格式不正确'],
                },
                success = function (data, textStatus) {
                    $('#username').val(data.username);
                    $('#full_name').val(data.full_name);
                    $('#email').val(data.email);
                },
                success_reminder = true,
            );
        });
    });
</script>
{% endblock %}