{% extends 'navigation.html' %}
{% block title %}访问统计{% endblock %}

{% block operate_left %}
<a href="javascript:history.back(-1)">返回</a>
{% endblock %}

{% block main %}
<form>
    <div class="grid">
        <label for="startDate">
            开始日期
            <input type="date" id="startDate" placeholder="开始日期">
        </label>
        <label for="endDate">
            结束日期
            <input type="date" id="endDate" placeholder="结束日期">
        </label>
    </div>
</form>
<article style="padding-left:15px;padding-right:15px;padding-top:35px;padding-bottom:0px;margin-top:0px;">
    <div id="summaryGraph" style="height:400px;"></div>
</article>
{% endblock %}

{% block javascript %}
<script src='/static/echarts/echarts.min.js'></script>
<script>
    var chartDom = document.getElementById('summaryGraph');
    var myChart = echarts.init(chartDom);
    var option;
    function drawSummaryGraph(xAxisData, yTotalData, yC200Data, yByteMData) {
        const colors = ['#5470C6', '#91CC75', '#EE6666'];
        option = {
            color: colors,
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            grid: {
                right: ($('#summaryGraph').width() >= 500) ? '20%' : ($('#summaryGraph').width() >= 400) ? '30%' : '40%',
                left: ($('#summaryGraph').width() >= 500) ? '10%' : ($('#summaryGraph').width() >= 400) ? '10%' : '15%',
            },
            toolbox: {
                feature: {
                    dataView: { show: true, readOnly: false },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {
                data: ['总请求', '成功请求', '出口流量']
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true,
                    },
                    data: xAxisData,
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '总请求',
                    position: 'right',
                    alignTicks: true,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    axisLabel: {
                        formatter: '{value} 次'
                    }
                },
                {
                    type: 'value',
                    name: '成功请求',
                    position: 'right',
                    alignTicks: true,
                    offset: 80,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    axisLabel: {
                        formatter: '{value} 次'
                    }
                },
                {
                    type: 'value',
                    name: '出口流量',
                    position: 'left',
                    alignTicks: true,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    axisLabel: {
                        formatter: '{value} MB'
                    }
                }
            ],
            series: [
                {
                    name: '总请求',
                    type: 'bar',
                    data: yTotalData,
                },
                {
                    name: '成功请求',
                    type: 'bar',
                    yAxisIndex: 1,
                    data: yC200Data,
                },
                {
                    name: '出口流量',
                    type: 'line',
                    yAxisIndex: 2,
                    data: yByteMData,
                }
            ]
        };
        myChart.setOption(option);
    }
    function selectStatisticsDate() {
        if ($('#startDate').val() && $('#endDate').val() && $('#startDate').val() <= $('#endDate').val()) {
            utilAjax(
                type = 'GET',
                url = '/api/bases/statistics/path/',
                data = { 'pk': '{{ pk }}', 'start_date': $('#startDate').val(), 'end_date': $('#endDate').val(), },
                data_format = 'query',
                check = {},
                success = function (data, textStatus) {
                    var xAxisData = [];
                    var yTotalData = [];
                    var yC200Data = [];
                    var yByteMData = [];
                    data['all_item'].forEach(function (value, index) {
                        xAxisData.push(value.date);
                        yTotalData.push(value.total);
                        yC200Data.push(value.c_200);
                        yByteMData.push(value.byte_m);
                    });
                    drawSummaryGraph(xAxisData, yTotalData, yC200Data, yByteMData);
                },
                success_reminder = false,
                not_close = false,
            );
        }
    }
    $(document).ready(function () {
        $('#startDate').val('{{ start_date }}');
        $('#startDate').change(function (value) {
            if ($('#startDate').val()) {
                selectStatisticsDate();
            }
        });
        $('#endDate').val('{{ end_date }}');
        $('#endDate').change(function (value) {
            if ($('#endDate').val()) {
                selectStatisticsDate();
            }
        });
        selectStatisticsDate();
    });
</script>
{% endblock %}