{% extends 'navigation.html' %}
{% block title %}访问统计{% endblock %}

{% block operate_left %}
<a href="javascript:history.back(-1)">返回</a>
{% endblock %}

{% block main %}
<hgroup>
    <h1>单路径分析</h1>
    <h2>{{ pk }}</h2>
</hgroup>
<form>
    <div class="grid">
        <label for="startDate">
            开始日期
            <input type="date" id="startDate" placeholder="开始日期">
        </label>
        <label for="endDate">
            结束日期
            <input type="date" id="endDate" placeholder="结束日期">
        </label>
    </div>
</form>
<article style="padding-left:15px;padding-right:15px;padding-top:35px;padding-bottom:0px;margin-top:0px;">
    <div id="summaryGraph" style="height:400px;"></div>
</article>
<article style="padding-left:15px;padding-right:15px;padding-top:35px;padding-bottom:0px;margin-top:0px;">
    <div id="responseGraph" style="height:400px;"></div>
</article>
<article style="padding-left:15px;padding-right:15px;padding-top:35px;padding-bottom:0px;margin-top:0px;">
    <div id="outflowGraph" style="height:400px;"></div>
</article>
{% endblock %}

{% block javascript %}
<script src='/static/echarts/echarts.min.js'></script>
<script>
    var summaryChartDom = document.getElementById('summaryGraph');
    var summaryChart = echarts.init(summaryChartDom);
    var summaryChartOption;
    function drawSummaryGraph(xAxisData, yTotalData, yC200Data, yByteMData) {
        const colors = ['#5470C6', '#91CC75', '#EE6666'];
        summaryChartOption = {
            color: colors,
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            grid: {
                right: ($('#summaryGraph').width() >= 500) ? '20%' : ($('#summaryGraph').width() >= 400) ? '30%' : '40%',
                left: ($('#summaryGraph').width() >= 500) ? '10%' : ($('#summaryGraph').width() >= 400) ? '10%' : '15%',
            },
            toolbox: {
                feature: {
                    dataView: { show: true, readOnly: false },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {
                data: ['总请求', '成功请求', '出口流量']
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true,
                    },
                    data: xAxisData,
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '总请求',
                    position: 'right',
                    alignTicks: true,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    axisLabel: {
                        formatter: '{value} 次'
                    }
                },
                {
                    type: 'value',
                    name: '成功请求',
                    position: 'right',
                    alignTicks: true,
                    offset: 80,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    axisLabel: {
                        formatter: '{value} 次'
                    }
                },
                {
                    type: 'value',
                    name: '出口流量',
                    position: 'left',
                    alignTicks: true,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: colors[2]
                        }
                    },
                    axisLabel: {
                        formatter: '{value} MB'
                    }
                }
            ],
            series: [
                {
                    name: '总请求',
                    type: 'bar',
                    tooltip: {
                        valueFormatter: function (value) {
                            return value + ' 次';
                        }
                    },
                    data: yTotalData,
                },
                {
                    name: '成功请求',
                    type: 'bar',
                    tooltip: {
                        valueFormatter: function (value) {
                            return value + ' 次';
                        }
                    },
                    yAxisIndex: 1,
                    data: yC200Data,
                },
                {
                    name: '出口流量',
                    type: 'line',
                    tooltip: {
                        valueFormatter: function (value) {
                            return value + ' MB';
                        }
                    },
                    yAxisIndex: 2,
                    data: yByteMData,
                }
            ]
        };
        summaryChart.setOption(summaryChartOption);
    }
    var responseChartDom = document.getElementById('responseGraph');
    var responseChart = echarts.init(responseChartDom);
    var responseChartOption;
    function drawResponseGraph(xAxisData, ySpendSData) {
        responseChartOption = {
            tooltip: {
                trigger: 'axis',
            },
            toolbox: {
                feature: {
                    dataView: { show: true, readOnly: false },
                    magicType: { type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {},
            xAxis: [
                {
                    type: 'category',
                    data: xAxisData,
                }
            ],
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 秒'
                }
            },
            series: [
                {
                    name: '平均响应时间',
                    type: 'line',
                    tooltip: {
                        valueFormatter: function (value) {
                            return value + ' 秒';
                        }
                    },
                    data: ySpendSData,
                    markPoint: {
                        data: [
                            { type: 'max', name: 'Max' },
                            { type: 'min', name: 'Min' }
                        ]
                    },
                    markLine: {
                        data: [{ type: 'average', name: 'Avg' }]
                    }
                }
            ]
        };
        responseChart.setOption(responseChartOption);
    }
    var outflowChartDom = document.getElementById('outflowGraph');
    var outflowChart = echarts.init(outflowChartDom);
    var outflowChartOption;
    function drawOutflowGraph(xAxisData, yByteMAvgData) {
        outflowChartOption = {
            tooltip: {
                trigger: 'axis',
            },
            toolbox: {
                feature: {
                    dataView: { show: true, readOnly: false },
                    magicType: { type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {},
            xAxis: [
                {
                    type: 'category',
                    data: xAxisData,
                }
            ],
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} MB'
                }
            },
            series: [
                {
                    name: '平均出口流量',
                    type: 'bar',
                    tooltip: {
                        valueFormatter: function (value) {
                            return value + ' MB';
                        }
                    },
                    data: yByteMAvgData,
                    markPoint: {
                        data: [
                            { type: 'max', name: 'Max' },
                            { type: 'min', name: 'Min' }
                        ]
                    },
                    markLine: {
                        data: [{ type: 'average', name: 'Avg' }]
                    }
                }
            ]
        };
        outflowChart.setOption(outflowChartOption);
    }
    function selectStatisticsDate() {
        if ($('#startDate').val() && $('#endDate').val() && $('#startDate').val() <= $('#endDate').val()) {
            utilAjax(
                type = 'GET',
                url = '/api/bases/statistics/path/',
                data = { 'pk': '{{ pk }}', 'start_date': $('#startDate').val(), 'end_date': $('#endDate').val(), },
                data_format = 'query',
                check = {},
                success = function (data, textStatus) {
                    var xAxisData = [];
                    var yTotalData = [];
                    var yC200Data = [];
                    var yByteMData = [];
                    var ySpendSData = [];
                    var yByteMAvgData = [];
                    data['all_item'].forEach(function (value, index) {
                        xAxisData.push(value.date);
                        yTotalData.push(value.total);
                        yC200Data.push(value.c_200);
                        yByteMData.push(value.byte_m);
                        if (value.spend_s != 0) {
                            ySpendSData.push(value.spend_s / value.total);
                        } else {
                            ySpendSData.push(value.spend_s);
                        }
                        if (value.byte_m != 0) {
                            yByteMAvgData.push(value.byte_m / value.total);
                        } else {
                            yByteMAvgData.push(value.byte_m);
                        }
                    });
                    drawSummaryGraph(xAxisData, yTotalData, yC200Data, yByteMData);
                    drawResponseGraph(xAxisData, ySpendSData);
                    drawOutflowGraph(xAxisData, yByteMAvgData);
                },
                success_reminder = false,
                not_close = false,
            );
        }
    }
    $(document).ready(function () {
        $('#startDate').val('{{ start_date }}');
        $('#startDate').change(function (value) {
            if ($('#startDate').val()) {
                selectStatisticsDate();
            }
        });
        $('#endDate').val('{{ end_date }}');
        $('#endDate').change(function (value) {
            if ($('#endDate').val()) {
                selectStatisticsDate();
            }
        });
        selectStatisticsDate();
    });
</script>
{% endblock %}