#nav-username {
    margin: 0px;
}

#nav-username::after {
    content: none;
}

suspended-right {
    position: fixed;
    right: calc(var(--spacing)/ 2 + var(--scrollbar-width, 0px));
    bottom: var(--spacing);
}

suspended-right button {
    width: auto;
    margin-top: 10px;
    margin-right: 8.5px;
    margin-bottom: 0;
    padding: .50rem;
    box-shadow: var(--card-box-shadow);
    text-align: right;
}

suspended-message-vertical {
    position: fixed;
    width: 100%;
    bottom: var(--spacing);
    padding: 0px var(--block-spacing-horizontal);
}

suspended-message-vertical button {
    margin-top: 0px;
    margin-right: 8.5px;
    margin-bottom: 0px;
    padding: .50rem;
    box-shadow: var(--card-box-shadow);
}

suspended-message-vertical textarea {
    margin-bottom: 0px;
    background-color: #ffffff;
    resize: none;
}

suspended-message-horizontal {
    position: fixed;
    width: 100%;
    bottom: var(--spacing);
    padding: 0px var(--block-spacing-horizontal);
}

suspended-message-horizontal button {
    position: fixed;
    right: calc(var(--spacing)/ 2 + var(--scrollbar-width, 0px));
    bottom: var(--spacing);
    width: auto;
    margin-top: 0px;
    margin-right: var(--spacing);
    margin-bottom: .50rem;
    padding: .50rem;
    box-shadow: var(--card-box-shadow);
}

suspended-message-horizontal textarea {
    margin-bottom: 0px;
    background-color: #ffffff;
    resize: none;
    width: calc(100% - var(--spacing)*4);
}

@media (min-width: 576px) {
    suspended-message-vertical {
        width: 510px;
        padding: 0px 0px;
        left: calc((100% - 510px)/2);
    }

    suspended-message-horizontal {
        width: 510px;
        padding: 0px 0px;
        left: calc((100% - 510px)/2);
    }

    suspended-message-horizontal button {
        margin-right: calc((100% - 510px)/2);
    }
}

@media (min-width: 768px) {
    suspended-message-vertical {
        width: 700px;
        padding-top: 0px 0px;
        left: calc((100% - 700px)/2);
    }

    suspended-message-horizontal {
        width: 700px;
        padding-top: 0px 0px;
        left: calc((100% - 700px)/2);
    }

    suspended-message-horizontal button {
        margin-right: calc((100% - 700px)/2);
    }
}