{% extends 'core/navigation.html' %}
{% block title %}主页{% endblock %}

{% block main %}
<hgroup>
    <h2 id="home-username"></h2>
    <h3><small id="home-role"></small> <sub id="home-role-sub" style="display:none;">(角色)</sub> <em id="home-time"></em> 🙂!</h3>
</hgroup>
{% endblock %}

{% block javascript %}
<script>
    var c_full_name = Cookies.get('full_name');
    var c_username = Cookies.get('username');
    if (c_full_name) {
        $('#home-username').append(c_full_name);
    } else {
        if (c_username) {
            $('#home-username').append(c_username);
        } else {
            $('#home-username').hide();
        }
    }
    var c_role = Cookies.get('role');
    if (c_role) {
        $('#home-role').append(c_role);
        $('#home-role-sub').show();
    } else {
        $('#home-role').hide();   
    }
    let getTimeState = () => {
        // 获取当前时间
        let timeNow = new Date();
        // 获取当前小时
        let hours = timeNow.getHours();
        // 设置默认文字
        let text = '';
        // 判断当前时间段
        if (hours >= 0 && hours <= 10) {
            text = '早上好';
        } else if (hours > 10 && hours <= 14) {
            text = '中午好';
        } else if (hours > 14 && hours <= 18) {
            text = '下午好';
        } else if (hours > 18 && hours <= 24) {
            text = '晚上好';
        }
        // 返回当前时间段对应的状态
        return text;
    };
    $('#home-time').append(getTimeState());
</script>
{% endblock %}