{% extends 'core/navigation.html' %}
{% block title %}服务日志{% endblock %}

{% block main %}
<form>
    <div class="grid">
        <label for="recordDate">
            记录日期
            <input type="date" id="recordDate" placeholder="记录日期">
        </label>
        <label for="logSnippet">
            父进程 {{ ppid }}
            <select id="logSnippet" required>
            </select>
        </label>
    </div>
    <pre style="background-color: #1E1E1E;">
        <code class="logContent" id="details-content"></code>
    </pre>
</form>
{% endblock %}

{% block operate_right_bottom %}
<button id="download" style="display:none">下载日志</button>
{% endblock %}

{% block javascript %}
<script>
    function selectRecordDate() {
        utilAjax(
            type = 'GET',
            url = '/api/bases/logs/',
            data = { 'log_date': $('#recordDate').val(), },
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                $('#logSnippet').append('<option value="" selected>选择记录片段</option>');
                data['all_item'].forEach(function (value, index) {
                    $('#logSnippet').append('<option value="' + value.file + '">' + value.file + '</option>');
                });
            },
            complete = function (request, textStatus) { },
            success_reminder = false,
            not_close = false,
        );
    }
    function selectLogSnippet() {
        $('#details-content').load('/api/bases/logs/file/?snippet=' + $('#logSnippet').val());
        $('#download').show();
    }
    $(document).ready(function () {
        let date = new Date();
        let year = date.getFullYear();
        let month = date.getMonth() + 1;
        let day = date.getDate();
        if (month < 10) { month = '0' + month; }
        if (day < 10) { day = '0' + day; }
        $('#recordDate').val(year + '-' + month + '-' + day);
        selectRecordDate();
        $('#recordDate').change(function (value) {
            if ($('#recordDate').val()) {
                $('#logSnippet').empty();
                $('#details-content').empty();
                $('#download').hide();
                selectRecordDate();
            }
        });
        $('#logSnippet').change(function (value) {
            $('#details-content').empty();
            $('#download').hide();
            if ($('#logSnippet').val()) {
                selectLogSnippet();
            }
        });
        $('#download').click(function () {
            if ($('#logSnippet').val()) {
                window.location.href = '/api/bases/logs/file/?snippet=' + $('#logSnippet').val();
            }
        });
    });
</script>
{% endblock %}