{% extends 'core/navigation.html' %}
{% block title %}更新密码{% endblock %}

{% block operate_left %}
<a href="javascript:history.back(-1)">返回</a>
{% endblock %}
{% block operate_right_top %}
<a id="submit" role="button" href="javascript:void(0);">更新</a>
{% endblock %}

{% block main %}
<form>
    <label for="currentPassword">
        当前密码
        <input type="password" id="currentPassword" placeholder="当前密码" required>
        <small>正在使用的旧密码</small>
    </label>
    <label for="newPassword">
        新密码
        <input type="password" id="newPassword" placeholder="新密码" required>
        <small>大小写字母和数字或特殊字符的组合, 长度6-32之间</small>
    </label>
    <label for="repeatNewPassword">
        重复新密码
        <input type="password" id="repeatNewPassword" placeholder="重复新密码" required>
        <small>必须与新密码输入一致</small>
    </label>
</form>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $('#submit').click(function () {
            utilAjax(
                type = 'PUT',
                url = '/api/bases/me/password/free/',
                data = {
                    'current_password': $('#currentPassword').val(),
                    'new_password': $('#newPassword').val(),
                    'repeat_new_password': $('#repeatNewPassword').val(),
                },
                data_format = 'json',
                check = {
                    'current_password': [/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/, '当前密码需要大小写字母和数字或特殊字符的组合, 长度6-32之间'],
                    'new_password': [/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/, '新密码需要大小写字母和数字或特殊字符的组合, 长度6-32之间'],
                    'repeat_new_password': [/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,32}$/, '重复新密码需要大小写字母和数字或特殊字符的组合, 长度6-32之间'],
                },
                success = function (data, textStatus) {
                    $('#currentPassword').val('');
                    $('#newPassword').val('');
                    $('#repeatNewPassword').val('');
                },
                success_reminder = true,
            );
        });
    });
</script>
{% endblock %}