{% extends 'core/navigation.html' %}

{% block title %}
{% if item_id %}
更新角色
{% else %}
创建角色
{% endif %}
{% endblock %}

{% block operate_left %}
<a href="/view/bases/role/">
    <img src="/static/bases/material-icons/arrow_back_ios_new_fill.svg" />
</a>
{% endblock %}

{% block operate_right_top %}
{% if item_id %}
<a id="updateAndCreateItem" role="button" href="javascript:void(0);">更新</a>
{% else %}
<a id="updateAndCreateItem" role="button" href="javascript:void(0);">创建</a>
{% endif %}
{% endblock %}

{% block main %}
<form id="form-content">
    <label>
        角色名称
        <input type="text" id="title" placeholder="角色名称" required>
    </label>
</form>
{% endblock %}

{% block operate_bottom %}
{% if item_id %}
<suspended-right>
    <button id="deleteItem" class="contrast">删除</button>
</suspended-right>
{% endif %}
{% endblock %}

{% block javascript %}
<script>
    var tagSelectDict = {};
    var tagSelectArray = [];
    var synced_wids = [];
    var synchronizations_i = 0;
    var app_workers_num = parseInt('{{ settings.app_workers_num }}');
    var synchronizations = 20;
    function putRole() {
        let permissions = [];
        tagSelectArray.forEach(function (value, index) {
            if (tagSelectDict[value]) {
                permissions.push(value);
            }
        });
        utilAjax(
            type = 'PUT',
            url = '/api/bases/role/{{ item_id }}/',
            data = {
                'title': $('#title').val(),
                'permissions': permissions,
            },
            data_format = 'json',
            check = {
                'title': [/^\S{2,}$/, '角色名称的长度需要大于2位'],
            },
            success = function (data, textStatus) {
                synchronizations_i++;
                if (!synced_wids.includes(data.wid)) {
                    synced_wids.push(data.wid);
                } else {
                    console.log('已同步 ' + synced_wids.length + ' 个进程 (' + synchronizations_i + ')');
                }
                if (synced_wids.length < app_workers_num) {
                    if (synchronizations_i < synchronizations * app_workers_num) {
                        setTimeout(function () { putRole() }, 5000);
                    }
                } else {
                    swal('请求成功', { icon: 'success', buttons: false, timer: 1500, });
                }
            },
            complete = function (request, textStatus) { },
            success_reminder = false,
            not_close = true,
        );
    }
    function loadPage() {
        utilAjax(
            type = 'GET',
            url = '/api/bases/permission/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                var tagDict = {};
                data['all_item'].forEach(function (value, index) {
                    if (tagDict[value.tag]) {
                        tagDict[value.tag].push(value);
                    } else {
                        tagDict[value.tag] = [value];
                    }
                });
                for (var key in tagDict) {
                    let keyName = key;
                    let item = tagDict[keyName];
                    $('#form-content').append('<label>服务模块 ' + keyName + '<details role="list"><summary aria-haspopup="listbox" id="summary-' + keyName + '" select="">包含 0 个接口访问权限</summary><ul role="listbox" id="tag-' + keyName + '"></ul></details></label>');
                    item.forEach(function (value, index) {
                        $('#tag-' + keyName).append('<li><label><input type="checkbox" name="' + keyName + '" value="' + value.name + '">' + value.summary + '</label></li>');
                        if (tagSelectDict.hasOwnProperty(value.name)) {
                            $('[value="' + value.name + '"]:checkbox').attr('checked', 'checked');
                            let summarys = $('#summary-' + keyName).attr('select').split(',');
                            if (summarys[0] == '') {
                                summarys = [];
                            }
                            summarys.push(value.name);
                            $('#summary-' + keyName).attr('select', summarys.toString());
                            $('#summary-' + keyName).html('包含 ' + summarys.length + ' 个接口访问权限');
                        } else {
                            tagSelectDict[value.name] = false;
                        }
                        tagSelectArray.push(value.name);
                    });
                    $('[name="' + keyName + '"]:checkbox').on('click', function () {
                        tagSelectDict[$(this).val()] = !tagSelectDict[$(this).val()];
                        let summarys = $('#summary-' + keyName).attr('select').split(',');
                        if (summarys[0] == '') {
                            summarys = [];
                        }
                        if ($(this).is(':checked')) {
                            summarys.push($(this).val());
                        } else {
                            summarys.splice(summarys.indexOf($(this).val()), 1);
                        }
                        $('#summary-' + keyName).attr('select', summarys.toString());
                        $('#summary-' + keyName).html('包含 ' + summarys.length + ' 个接口访问权限');
                    });
                }
            },
            complete = function (request, textStatus) { },
            success_reminder = false,
            not_close = false,
        );
    }
    //{% if item_id %}
    $(document).ready(function () {
        utilAjax(
            type = 'GET',
            url = '/api/bases/role/{{ item_id }}/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                $('#title').val(data.title);
                if (data.title == 'Default') {
                    $('#title').attr('disabled', true);
                    $('#title').after('<small>所有未分配角色的用户均为默认角色</small>');
                    $('#deleteItem').hide();
                }
                data.permissions.forEach(function (value, index) {
                    tagSelectDict[value] = true;
                });
                loadPage();
            },
            complete = function (request, textStatus) { },
            success_reminder = false,
            not_close = true,
        );
        $('#updateAndCreateItem').click(function () {
            synced_wids = [];
            synchronizations_i = 0;
            putRole();
        });
        $('#deleteItem').click(function () {
            swal({
                title: '你正在删除角色',
                icon: 'warning',
                buttons: ['取消', '确认删除'],
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    utilAjax(
                        type = 'DELETE',
                        url = '/api/bases/role/{{ item_id }}/',
                        data = {},
                        data_format = 'json',
                        check = {},
                        success = function (data, textStatus) {
                            window.location.href = '/view/bases/role/';
                        },
                        complete = function (request, textStatus) { },
                        success_reminder = false,
                        not_close = false,
                    );
                }
            });
        });
    });
    //{% else %}
    $(document).ready(function () {
        loadPage();
        $('#updateAndCreateItem').click(function () {
            let permissions = [];
            for (var key in tagSelectDict) {
                if (tagSelectDict[key]) {
                    permissions.push(key);
                }
            }
            utilAjax(
                type = 'POST',
                url = '/api/bases/role/',
                data = {
                    'title': $('#title').val(),
                    'permissions': permissions,
                },
                data_format = 'json',
                check = {
                    'title': [/^\S{2,}$/, '角色名称的长度需要大于2位'],
                },
                success = function (data, textStatus) {
                    window.location.href = '/view/bases/role/update/' + data._id + '/';
                },
                complete = function (request, textStatus) { },
                success_reminder = true,
            );
        });
    });
    //{% endif %}
</script>
{% endblock %}