{% extends 'core/navigation.html' %}
{% block title %}角色与权限{% endblock %}

{% block main %}
<div id="details-content">
    <details class="itemRole" onclick="event.preventDefault()" id="100000000000000000000001">
        <summary>Default</summary>
    </details>
</div>
{% endblock %}

{% block operate_bottom %}
<suspended-right>
    <button id="submit">创建</button>
</suspended-right>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        utilAjax(
            type = 'GET',
            url = '/api/bases/role/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                data['all_item'].forEach(function (value, index) {
                    $('#details-content').append('<details class="itemRole" onclick="event.preventDefault()" id="' + value['id'] + '"><summary>' + value['title'] + ' <sup>有' + value['permissions'].length + '个权限</sup></summary></details>');
                });
                $('.itemRole').click(function () {
                    window.location.href = '/view/bases/role/update/' + $(this).attr('id') + '/';
                });
            },
            complete = function (request, textStatus) { },
            success_reminder = false,
            not_close = false,
        );
        $('#submit').click(function () {
            window.location.href = '/view/bases/role/create/';
        });
    });
</script>
{% endblock %}