{% extends 'navigation.html' %}
{% block title %}更新 {{ module_name }} 设置{% endblock %}

{% block operate_left %}
<a href="/view/bases/setup/">返回</a>
{% endblock %}
{% block operate_right_top %}
<a id="submit" role="button" href="javascript:void(0);">更新</a>
{% endblock %}

{% block main %}
<form id="form-content">
</form>
{% endblock %}

{% block javascript %}
<script>
    var synced_wids = [];
    var synchronizations_i = 0;
    var setups = {};
    var app_workers_num = parseInt('{{ settings.app_workers_num }}');
    var synchronizations = 20;
    var enable_relations = {};
    function putSetup() {
        utilAjax(
            type = 'PUT',
            url = '/api/bases/setup/particle-' + '{{ module_name }}' + '/',
            data = {
                'synced_wids': synced_wids,
                'setups': setups,
            },
            data_format = 'json',
            check = {},
            success = function (data, textStatus) {
                synchronizations_i++;
                if (data.wid != '') {
                    synced_wids.push(data.wid);
                } else {
                    console.log('已同步 ' + synced_wids.length + ' 个进程 (' + synchronizations_i + ')');
                }
                if (synced_wids.length < app_workers_num) {
                    if (synchronizations_i < synchronizations * app_workers_num) {
                        setTimeout(function () { putSetup() }, 5000);
                    }
                } else {
                    swal('请求成功', { icon: 'success', buttons: false, timer: 1500, });
                }
            },
            success_reminder = false,
            not_close = true,
        );
    }
    function onClickEnable(obj) {
        let key = obj.id.slice(7);
        let relations = enable_relations[key];
        if (obj.checked) {
            for (var i = 0, len = relations['ids'].length; i < len; i++) {
                $('#' + relations['ids'][i]).removeAttr('disabled');
            }
            enable_relations[key]['value'] = true
        } else {
            for (var i = 0, len = relations['ids'].length; i < len; i++) {
                $('#' + relations['ids'][i]).attr('disabled', 'disabled');
            }
            enable_relations[key]['value'] = false
        }
    }
    var setupInputArray = [];
    $(document).ready(function () {
        utilAjax(
            type = 'GET',
            url = '/api/bases/setup/particle-' + '{{ module_name }}' + '/',
            data = {},
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                let reg = new RegExp('_', 'g');
                let enable_temp_key = null;
                let enable_temp_value = true;
                let enable_temp_key_first = null;
                let next_disable = '';
                data['all_item'].forEach(function (value, index) {
                    if (value.key.indexOf('enable_') != -1) {
                        enable_temp_key = value.key.slice(7);
                        enable_temp_value = value.value;
                        enable_temp_key_first = value.key.slice(7);
                        enable_relations[enable_temp_key] = { 'value': value.value, 'ids': [] };
                        next_disable = '';
                    } else if (enable_temp_key != null) {
                        if (value.key.slice(0, enable_temp_key.length) == enable_temp_key) {
                            enable_relations[enable_temp_key]['ids'].push(value.key);
                            if (enable_temp_value == false) {
                                next_disable = 'disabled="disabled"';
                            }
                        } else {
                            enable_temp_key = null;
                            next_disable = '';
                        }
                    }
                    let keyTitle = '';
                    if (value.describe) {
                        keyTitle = value.describe;
                    } else {
                        let keyTitleReg = value.key.replace(reg, ' ');
                        keyTitle = keyTitle.slice(0, 1).toUpperCase() + keyTitle.slice(1);
                    }
                    let formHtml = '<label for="' + value.key + '">';
                    if (value.type == 'str') {
                        formHtml += keyTitle + '<input ' + next_disable;
                        formHtml += 'type="text"';
                        formHtml += ' id="' + value.key + '" value="' + value.value + '" required>';
                    } else if (value.type == 'int') {
                        formHtml += keyTitle + '<input ' + next_disable;
                        formHtml += 'type="number"';
                        formHtml += ' id="' + value.key + '" value="' + value.value + '" required>';
                    } else if (value.type == 'bool') {
                        formHtml += '<input ' + next_disable;
                        formHtml += 'type="checkbox" role="switch"';
                        if (value.value) {
                            formHtml += 'checked="checked"';
                        }
                        if (enable_temp_key_first != null) {
                            formHtml += 'onclick="onClickEnable(this)"';
                            enable_temp_key_first = null;
                        }
                        formHtml += ' id="' + value.key + '" required>';
                        formHtml += keyTitle + '<br /><br />';
                    } else if (value.type == 'list') {
                        formHtml += keyTitle + '<input ' + next_disable;
                        formHtml += 'type="text"';
                        formHtml += ' id="' + value.key + '" value="' + value.value.join(',') + '" required>';
                        formHtml += '<small>列表值之间使用逗号 <strong>,</strong> 分隔</small>';
                    }
                    formHtml += '</label>';
                    $('#form-content').append(formHtml);
                    setupInputArray.push(value);
                });
            },
            success_reminder = false,
            not_close = false,
        );
        $('#submit').click(function () {
            setupInputArray.forEach(function (value, index) {
                if (value.type == 'str') {
                    setups[value.key] = $('#' + value.key).val();
                } else if (value.type == 'int') {
                    setups[value.key] = parseInt($('#' + value.key).val());
                } else if (value.type == 'bool') {
                    if ($('#' + value.key + ':checked').val()) {
                        setups[value.key] = true;
                    } else {
                        setups[value.key] = false;
                    }
                } else if (value.type == 'list') {
                    if ($('#' + value.key).val()) {
                        setups[value.key] = $('#' + value.key).val().split(',');
                    } else {
                        setups[value.key] = [];
                    }
                }
            });
            if ('{{ module_name }}' == 'bases') {
                app_workers_num = setups['app_workers_num'];
            }
            synced_wids = [];
            synchronizations_i = 0;
            putSetup();
        });
    });
</script>
{% endblock %}