{% extends 'core/navigation.html' %}

{% block title %}
用户管理
{% endblock %}

{% block main %}
<form>
    <label>
        <select id="source" placeholder="账户来源">
            <option value="" selected>全部账户来源</option>
            <option value="Initialization">系统注册</option>
            <option value="Admin">管理员注册</option>
            <option value="User">用户注册</option>
            <option value="LDAP">LDAP/AD注册</option>
        </select>
    </label>
    <div class="grid">
        <label>
            <input type="text" id="username" placeholder="账户名">
        </label>
        <label>
            <input type="text" id="full_name" placeholder="账户昵称">
        </label>
    </div>
</form>
<div id="details-content">
</div>
{% endblock %}

{% block operate_bottom %}
<suspended-right>
    <button id="submit">创建</button>
</suspended-right>
{% endblock %}

{% block javascript %}
<script>
    var loadSwitch = false;
    var loadSkip = 0;
    var loadMark = true;
    var searchUsername = '{{ username }}';
    var searchFullName = '{{ full_name }}';
    var searchSource = '{{ source }}';
    function loadData() {
        if (!loadMark) {
            return;
        }
        loadMark = false;
        let searchData = { 'limit': 20, 'skip': loadSkip };
        if (searchUsername) {
            searchData['username'] = searchUsername
        }
        if (searchFullName) {
            searchData['full_name'] = searchFullName
        }
        if (searchSource) {
            searchData['source'] = searchSource
        }
        utilAjax(
            type = 'GET',
            url = '/api/bases/user/',
            data = searchData,
            data_format = 'query',
            check = {},
            success = function (data, textStatus) {
                if (data['items'].length == 20) {
                    loadSwitch = true;
                } else {
                    loadSwitch = false;
                }
                loadSkip += data['items'].length;
                data['items'].forEach(function (value, index) {
                    let auxiliary = value['full_name'];
                    if (!auxiliary) {
                        auxiliary = value['email'];
                    }
                    $('#details-content').append('<details class="itemDetails" onclick="event.preventDefault()" id="' + value['id'] + '"><summary>' + value['username'] + ' <sup>' + auxiliary + '</sup></summary></details>');
                });
                $('.itemDetails').click(function () {
                    window.location.href = '/view/bases/user/update/' + $(this).attr('id') + '/?username=' + $('#username').val() + '&full_name=' + $('#full_name').val() + '&source=' + $('#source').val();
                });
            },
            complete = function (request, textStatus) {
                loadMark = true;
            },
            success_reminder = false,
            not_close = false,
        );
    }
    function searchChange() {
        loadSwitch = false;
        loadSkip = 0;
        loadMark = true;
        $('#details-content').empty();
        loadData();
    }
    $(document).ready(function () {
        $('#username').val('{{ username }}');
        $('#full_name').val('{{ full_name }}');
        $('#source').val('{{ source }}');
        loadData();
        $('#submit').click(function () {
            window.location.href = '/view/bases/user/create/?username=' + $('#username').val() + '&full_name=' + $('#full_name').val() + '&source=' + $('#source').val();
        });
        $('#username').change(function (value) {
            searchUsername = $('#username').val();
            searchChange();
        });
        $('#full_name').change(function (value) {
            searchFullName = $('#full_name').val();
            searchChange();
        });
        $('#source').change(function (value) {
            searchSource = $('#source').val();
            searchChange();
        });
    });
    $(window).scroll(function () {
        if (loadSwitch) {
            // 窗口高度
            var w_h = parseFloat($(window).height());
            // 页面高度
            var doc_h = $(document).height();
            //当前滚动条位置时，页面可见区域及以上区域高度
            totalheight = w_h + parseFloat($(window).scrollTop()) + 2;
            if (totalheight >= doc_h) {
                loadData();
            }
        }
    });
</script>
{% endblock %}